/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			ads7142__OL_BUS___OL_ADDR__pins: ads7142__OL_BUS___OL_ADDR__pins {
				brcm,pins = <_OL_IRQ_>; /* rdy/busy */
				brcm,function = <0>; /* input */
			};
		};
	};

	fragment@1 {
		target = <&i2c_OL_BUS_>;
		frag1: __overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			ads7142__OL_BUS___OL_ADDR_:ads7142__OL_BUS___OL_ADDR_@_OL_ADDR_ {
				compatible = "ti,ads7142";
				reg = <0x_OL_ADDR_>; /* i2c address */
				interrupt-parent = <&gpio>;
				interrupts = <_OL_IRQ_ 0x2>; /* GPIO and falling edge */
				status = "okay";

				#address-cells = <1>;
				#size-cells = <0>;

				#io-channel-cells = <1>;

				_OL_VREF_

				_OL_MONITORING_MODE_

				channel@0 {
					reg = <0>;
				};

				channel@1 {
					reg = <1>;
				};
			};
		};
	};
};
